/*//Pagination Start*/

.c-pager {
    display: flex;
    justify-content: center;
    margin: 10.5px -10px;
    align-items: center
}

.c-pager_items {
    padding-right: 10px;
    padding-left: 10px;
}

.c-pager_items > li {
    display: inline-block;
    cursor: pointer;
}

.c-pager_item {
    width: 35px;
    height: 34px;
    display: inline-block;
    text-align: center;
    line-height: 34px;
    margin: 0 3px;
    border-radius: 8px;
    font-size: 18px;
    vertical-align: top
}

.c-pager_item.is-active {
    background-color: #656564;
    border: 1px solid #6c757d;
    color: #fff !important;
}

.c-pager_items-line {
    width: 2px;
    height: 34px;
    border: 1px solid #e8e8e8;
    display: inline-block;
    vertical-align: bottom;
    margin-right: 30px;
    margin-left: 30px
}

.c-pager_last, .c-pager_first {
    width: 35px;
    height: 34px;
    font-size: 23px;
    vertical-align: top;
    display: inline-block;
    text-align: center;
    color: #6e6e6e
}

.c-pager_last::before, .c-pager_first:before {
    font-family: digikala;
    content: "\00bb";
    line-height: 1
}

.c-pager_first:before {
    content: "\00ab";
}