@model EShop.Core.ViewModels.EditBannerImageViewModel

@{
    ViewData["Title"] = "ویرایش اسلایدر";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
   
}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="card-title-wrap bar-success">
                    <h4 class="card-title mb-0">ویرایش بنر </h4>
                </div>
            </div>
            <div class="card-body">
                <div class="px-3">
                    <form class="form" asp-action="EditBannerImage" enctype="multipart/form-data">
                        <div class="form-body">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input asp-for="Id" type="hidden" />
                            <input asp-for="CurrentImgName" type="hidden"/>
                            <input asp-for="TypeSystem" type="hidden"/>
                            <div class="row">

                                
                                <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
                                    <fieldset class="form-group">
                                        <label asp-for="Link" class="control-label"></label>
                                        <input asp-for="Link" dir="ltr" class="form-control" />
                                        <span asp-validation-for="Link" class="text-danger"></span>
                                    </fieldset>
                                </div>  <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
                                    <fieldset class="form-group">
                                        <label asp-for="Title" class="control-label"></label>
                                        <input asp-for="Title" dir="ltr" class="form-control" />
                                        <span asp-validation-for="Title" class="text-danger"></span>
                                    </fieldset>
                                </div>
                                <div class="col-xl-12 col-lg-12 col-md-12 mb-1">
                                    <fieldset class="form-group">
                                        <label asp-for="Img" class="control-label"></label>
                                        <img src="https://media.farnaa.com/media/@Model.CurrentImgName"  class="img-fluid p-3" />

                                        <input asp-for="Img" type="file" class="form-control" />
                                        <span asp-validation-for="Img" class="text-danger"></span>
                                    </fieldset>
                                   
                                </div>

                                <div class="col-xl-12 col-lg-12 col-md-12 mb-1">
                                    <fieldset class="form-group">
                                        <label>
                                            <input asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                                        </label>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                        <div class="form-actions">
                            <div class="text-right">
                                <button type="submit" class="btn btn-primary mr-1">
                                    ثبت
                                    <i class="ft-thumbs-up position-right"></i>
                                </button>
                                <a asp-action="BannerList" class="btn btn-warning">بازگشت به لیست</a>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
 