@model EShop.Core.ViewModels.BannerImageViewModel
<a href="@Model.Link" target="_blank">
    <img class="lazy b-lazy" width="820" height="300" src="https://farnaa.com/images/bg/bg-rectangle.webp" data-src="https://media.farnaa.com/media/@Model.ImageName" alt="@Model.Title">
</a>