<ul class="tabs-nav d-none d-lg-block">
    <li class="title">
        <span class="icon">
            <i class="fas fa-sort-amount-down-alt"></i>
        </span>
        <p class="text">
            مرتب سازی بر اساس
        </p>
    </li>
    <li class="nav-item  nav-item-sort  sort-active " data-id="1" data-type="sort">
        گران‌ترین
    </li>
    <li class="nav-item nav-item-sort" data-id="2" data-type="sort">
        ارزان‌ترین
    </li>
    <li class="nav-item nav-item-sort" data-id="3" data-type="sort">
        جدیدترین
    </li>
    <li class="nav-item nav-item-sort" data-id="4" data-type="sort">
        پرفروش‌ترین
    </li>
</ul>