@model EShop.Core.ViewModels.Category.CreateCategoryViewModel

@{
    ViewData["Title"] = "دسته بندی جدید";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="card-title-wrap bar-success">
                    <h4 class="card-title mb-0">ایجاد دسته بندی جدید</h4>
                </div>
            </div>
            <div class="card-body">
                <div class="px-3">
                    <form class="form" asp-action="CreateCategory" enctype="multipart/form-data">
                        <div class="form-body">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="row">

                                <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                                    <fieldset class="form-group">
                                        <label asp-for="FaTitle" class="control-label"></label>
                                        <input asp-for="FaTitle" class="form-control" />
                                        <span asp-validation-for="FaTitle" class="text-danger"></span>
                                    </fieldset>
                                </div>
                                <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                                    <fieldset class="form-group">
                                        <label asp-for="EnTitle" class="control-label"></label>
                                        <input asp-for="EnTitle" dir="ltr" class="form-control" />
                                        <span asp-validation-for="EnTitle" class="text-danger"></span>
                                    </fieldset>
                                </div>
                                <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                                    <fieldset class="form-group">
                                        <label asp-for="Image" class="control-label"></label>
                                        <input asp-for="Image" type="file" class="form-control" />
                                        <span asp-validation-for="Image" class="text-danger"></span>
                                    </fieldset>
                                </div>
                                <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                                    <fieldset class="form-group ">
                                        <label for="categorylist" class="control-label">دسته بندی های اصلی</label>
                                        <div class="row m-0 p-0">
                                            <select id="categorylist" asp-items="@(new SelectList(ViewBag.CategoryList,"Id","Title"))" class="form-control col-md-9"></select>
                                            <div class="col-md-3"><a class="btn btn-success btn-add">افزودن</a></div>
                                            <div class="parentlist col-md-12"></div>
                                        </div>


                                    </fieldset>
                                </div>
                                <div class="col-xl-12 col-lg-12 col-md-12 mb-1">
                                    <fieldset class="form-group">
                                        <label asp-for="Descrption" class="control-label"></label>
                                        <textarea class="form-control" asp-for="Descrption" rows="3"></textarea>
                                        <span asp-validation-for="Descrption" class="text-danger"></span>
                                    </fieldset>
                                </div>
                                <div class="col-xl-12 col-lg-12 col-md-12 mb-1">
                                    <fieldset class="form-group">
                                        <label asp-for="KeyWord" class="control-label"></label>
                                        <textarea class="form-control" asp-for="KeyWord" rows="3"></textarea>
                                        <span asp-validation-for="KeyWord" class="text-danger"></span>
                                    </fieldset>
                                </div>
                                <div class="col-xl-12 col-lg-12 col-md-12 mb-1">
                                    <fieldset class="form-group">
                                        <label asp-for="FAQSchema" class="control-label"></label>
                                        <textarea class="form-control" asp-for="FAQSchema" rows="3"></textarea>
                                        <span asp-validation-for="FAQSchema" class="text-danger"></span>
                                    </fieldset>
                                    </div>    
                            </div>
                        </div>
                        <div class="form-actions">
                            <div class="text-right">
                                <button type="submit" class="btn btn-primary mr-1">
                                    ثبت
                                    <i class="ft-thumbs-up position-right"></i>
                                </button>
                                <a asp-action="CategoryList" class="btn btn-warning">بازگشت به لیست</a>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script src="~/js/jquery.validate.min.js"></script>
    <script src="~/js/jquery.validate.unobtrusive.js"></script>
    <script>
        $(".btn-add").click(function () {
            if ($("#categorylist").val()) {
                var value = $("#categorylist").children("option:selected").val();
                var text = $("#categorylist").children("option:selected").text();
                $(".parentlist").append("<div class=' btn-block btn-info' style='padding:7px'><button style='margin-left:0' type='button' class='close pull-left btn-remove'>×</button>" +
                    "<input type='hidden' value='" + value + "' name='ParentList' /><span style='margin-left:10px' class='parenttext'>" + text + "</span> </div>");
                $("#categorylist").children("option:selected").remove();
            }
        });

        $('.parentlist').delegate(".btn-remove", 'click', function () {
            var text = $(this).nextAll($(".parenttext")).text();
            var value = $(this).nextAll($("input [type=hidden]")).val();
            $("#categorylist").append($('<option>', {
                value: value,
                text: text
            }));
            $(this).parent().remove();
        });
    </script>
}


