@model EShop.DataLayer.Entities.Product.RatingAttribute

@{
    ViewData["Title"] = "ایجاد ویژگی جدید";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="content">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">ایجاد ویژگی جدید </h3>
        </div>
        <div class="row">
            <div class="col-md-4">

                <form asp-action="CreateAttribute">
                    <div class="box-body">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Title" class="control-label"></label>
                            <input asp-for="Title" class="form-control" />
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-12">
                            <label class="control-label col-md-2">دسته بندی ها</label>
                            <select id="categorylist" asp-items="@(new SelectList(ViewBag.CategoryList,"Id","Title"))" class="form-control col-md-3"></select>
                            <div class="col-md-2"><a class="btn btn-success btn-add">افزودن</a></div>
                            <div class="parentlist col-md-5"></div>
                        </div>
                        <div class="form-group col-md-12">
                            <input type="submit" value="ذخیره" class="btn btn-success" />
                            <a asp-action="ProductListContainer">انصراف</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>




@section Scripts{
    <script src="~/js/jquery.validate.min.js"></script>
    <script src="~/js/jquery.validate.unobtrusive.js"></script>
    <script>
    $(".btn-add").click(function () {
        if ($("#categorylist").val()) {
            var value = $("#categorylist").children("option:selected").val();
            var text = $("#categorylist").children("option:selected").text();
            $(".parentlist").append("<div class=' btn-block btn-info' style='padding:7px'><button style='margin-left:0' type='button' class='close pull-left btn-remove'>×</button>" +
                "<input type='hidden' value='" + value + "' name='catList' /><span style='margin-left:10px' class='parenttext'>" + text + "</span> </div>");
            $("#categorylist").children("option:selected").remove();
        }
    });

    $('.parentlist').delegate(".btn-remove", 'click', function () {
        var text = $(this).nextAll($(".parenttext")).text();
        var value = $(this).nextAll($("input [type=hidden]")).val();
        $("#categorylist").append($('<option>', {
            value:value,
            text:text
        }));
        $(this).parent().remove();
    });
    </script>
}

