
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test</title>
</head>
<body>
<main>
	<textarea id="editor1" class="form-control"></textarea>
</main>

<script>
	CKEDITOR.replace('editor1', {
		language: 'fa',
		filebrowserWindowWidth: 1050,
		filebrowserWindowHeight: 1050
	});
</script>
</body>
</html>
