    <div class="footer ">
        <div class="holder-footer ">
            <div class="services ">
                <div class="container-fluid ">
                    <div class="row ">
                        <!-- ---------- last seen ---------- -->
                        @await Component.InvokeAsync("FooterLastSeenComponent")

 
                    </div>
                </div>
            </div>
            <div class="footer-middle ">
                <div class="container ">
                    <div class="row ">
                   
                    @await Component.InvokeAsync("FooterMenuComponent")


                        <div class="col-lg-5 col-md-12 ">
                            <div class="middle-left ">
                                <div class="newsletter ">
                                    <span class="title mb-3 ">
                                        شنبه تا چهارشنبه از 9 تا 17:30 و پنجشنبه ها 9 تا 13 پاسخگوی شما هستیم
                                    </span>
                                    <p class="call mb-3 ">
                                        <i class="fa fa-phone"></i>
                                        <a href="tel:02166342825"> 021-58209 | 021-66342825 </a>
                                    </p>


                                </div>
                                                    @await Component.InvokeAsync("FooterSocialComponent")

                                


                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-content " style="border-top: 1px solid #e8e8e8; ">
                <div class="container ">
                    <div class="row ">
                        <div class="col-lg-8 col-md-12 ">
                            <div class="description ">
                                <h3 class="title mb-3 ">
                                    فروشگاه اینترنتی فرنا
                                </h3>
                                <p class="text ">
                                    به پشتوانه سال‌ها خدمت تخصصی در زمینه فروش تجهیزات تکنولوژیک (اعم از گوشی موبایل، لوازم جانبی، لوازم خانگی، کنسول های بازی و سایر تجهیزات)، امروزه در بستر اینترنت نیز در تلاش برای خدمتگذاری با تمام توان به خریداران این محصولات هستیم. اطمینان از اصالت
                                    کالا را سرلوحه تمامی اقدامات خود قرار داده‌ایم تا اعتماد شما به فرنا را ارج نهیم. همچنین با اتکا به کارشناسان با انگیزه و با تجربه، آماده پاسخگویی به سوالات و ابهامات شما هم بعد و هم قبل از خرید محصولات هستیم. به پشتوانه
                                    سال‌ها خدمت تخصصی در زمینه فروش تجهیزات تکنولوژیک (اعم از گوشی موبایل، لوازم جانبی، لوازم خانگی، کنسول های بازی و سایر تجهیزات)، امروزه در بستر اینترنت نیز در تلاش برای خدمتگذاری با تمام توان به خریداران این محصولات
                                    هستیم. اطمینان از اصالت کالا را سرلوحه تمامی اقدامات خود قرار داده‌ایم تا اعتماد شما به فرنا را ارج نهیم. همچنین با اتکا به کارشناسان با انگیزه و با تجربه، آماده پاسخگویی به سوالات و ابهامات شما هم بعد و هم قبل از خرید
                                    محصولات هستیم.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12 ">
                                                                                @await Component.InvokeAsync("FooterLicenseComponent")

                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright ">
                <p>
                    کلیه حقوق مادی و معنوی سایت متعلق به فرنا می باشد و هرگونه کپی برداری از محتوای سایت با درج منبع بلامانع است. | طراحی و توسعه توسط
                    <a class="trs-3 " href="https://farnaa.com/">
                        farnaa.com
                    </a>
                </p>
            </div>

        </div>
    </div>