@using EShop.Core.ViewModels.Category
@using EShop.DataLayer.Entities.Brand
@using EShop.Core.ExtensionMethods
@model EShop.Core.ViewModels.Product.ProductSearchWithFilterViewModel
@{
    ViewData["Title"] = "جستجو";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@section Meta
{
    @await Html.PartialAsync("_noIndex")

}
@section Style{

<link rel="stylesheet" href="/css/vendor/noUISlider.min.css">

}
<div class="d-block">
    @await Html.PartialAsync("SearchPageAjax", Model)

</div>
@section Scripts{

<script src="/js/vendor/ResizeSensor.min.js"></script>
<script src="/js/vendor/theia-sticky-sidebar.min.js"></script>
<script src="/js/vendor/wNumb.js"></script>
<script src="/js/vendor/nouislider.min.js"></script>

<script src="/js/user-main.js"></script>
<script src="~/js/filter-on-products.js"></script>


<script>
    $('html,body').animate({ scrollTop: 0 }, 500);

    search_page();
    searchajaxload()

</script>
}