@using DevExtreme.AspNet.Mvc
@using EShop.Core.ViewModels.Category
@using EShop.DataLayer.Entities
@{
    ViewData["Title"] = "دسته بندی ها";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section Styles
{
 

    <link href="~/css/devextreme/dx.common.css" rel="stylesheet" />

    <link href="~/css/devextreme/dx.light.css" rel="stylesheet" />

   
    <script src="~/js/devextreme/jquery.js"></script>
    <script src="~/js/devextreme/bootstrap.js"></script>


    <script src="~/js/devextreme/cldr.js"></script>
    <script src="~/js/devextreme/cldr/event.js"></script>
    <script src="~/js/devextreme/cldr/supplemental.js"></script>
    <script src="~/js/devextreme/cldr/unresolved.js"></script>
    <script src="~/js/devextreme/globalize.js"></script>
    <script src="~/js/devextreme/globalize/message.js"></script>
    <script src="~/js/devextreme/globalize/number.js"></script>
    <script src="~/js/devextreme/globalize/currency.js"></script>
    <script src="~/js/devextreme/globalize/date.js"></script>
    <script src="~/js/devextreme/localization/dx.messages.fa.js"></script>

   

    <script src="~/js/devextreme/dx.all.js"></script>

  

    <script src="~/js/devextreme/aspnet/dx.aspnet.mvc.js"></script>
    <script src="~/js/devextreme/aspnet/dx.aspnet.data.js"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/7.10.1/polyfill.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/exceljs/3.8.0/exceljs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>


    <style>
        body, body * {
            direction: ltr !important;
        }

        .dx-datagrid-content .dx-datagrid-table .dx-row > td, .dx-datagrid-content .dx-datagrid-table .dx-row > tr > td {
            vertical-align: top;
            direction: rtl !important;
            text-align: center !important;
        }
    </style>

}

<section id="extended">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title-wrap bar-success">
                        <h4 class="card-title">دسته بندی ها</h4>
                    </div>
                </div>
                <div class="card-body">

                    <div class="card-block">
                        <div id="tree-list-demo">
                            @(Html.DevExtreme().TreeList<GetCategoryForTree>()
        .ID("employees")
        .DataSource(ds => ds.Mvc()
            .Controller("Category")
            .LoadAction("Get")
            .UpdateAction("Put")
            .InsertAction("Post")
            .DeleteAction("Delete")
            .Key("Id")
        )
        .KeyExpr("Id")
        .ParentIdExpr("ParentId")
        .ShowRowLines(true)
        .ShowBorders(true)
        .Editing(e => e
            .Mode(GridEditMode.Cell)
            .AllowUpdating(true)
            .AllowDeleting(true)
            .AllowAdding(true)
            .Popup(p => p
                .Title("دسته بندی")
                .ShowTitle(true)
                .Width(700)
            )
        )
        .SearchPanel(searchPanel => searchPanel.Visible(true))
        .Columns(columns => {
            columns.AddFor(m => m.FaTitle);

            columns.AddFor(m => m.EnTitle);
            columns.AddFor(m => m.Descrption);
            columns.AddFor(m => m.KeyWord);
            columns.AddFor(m => m.FAQSchema);
            columns.AddFor(m => m.MetaTitle);

            columns.AddFor(m => m.ParentId)
                .Width(150)
                .Visible(true)
                .Lookup(lookup => lookup
                    .DataSource(ds => ds.Mvc().Controller("Category").LoadAction("Get").Key("Id"))
                    .DataSourceOptions(dso => dso.Sort(sort => sort.AddSorting("FaTitle")))
                    .ValueExpr("Id")
                    .DisplayExpr("FaTitle")
                );




            columns.Add()
                .Type(TreeListCommandColumnType.Buttons)
                .Buttons(b => {
                    b.Add().Name(TreeListColumnButtonName.Edit).CssClass("text-decoration-none").Text("ویرایش").Icon("fa fa-pencil text-primary  font-medium-3 ");
                    b.Add().Name(TreeListColumnButtonName.Delete).CssClass(" text-decoration-none").Text("حذف").Icon("fa fa-trash-o  text-danger  font-medium-3 ");
                });
        })
        .ColumnAutoWidth(true)
        .OnEditorPreparing("treeList_onEditorPreparing")
        .ExpandedRowKeys(new[] { 1 })
    )
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




<script>
    function treeList_onEditorPreparing(e) {
        if (e.dataField === "ParentId" && e.row.data.Id === 1) {
            e.editorOptions.disabled = true;
            e.editorOptions.value = null;
        }
    }
</script>
