@model List<EShop.DataLayer.Entities.FilterPrice>

@{
    Layout = null;
}

<div class="filter">
    <div class="pric">
        <div class="title" style="padding-bottom:30px;">
            <span>
                با فرنا موبایلتو پیدا کن
            </span>
        </div>
        <div class="pric-box" style="margin-top:10px;">
            <form class="wrapper" asp-controller="Home" asp-action="SearchFilterIndex" method="post" id="form">
                <input type="hidden" name="catId" value="22"/>
                <div class="slider">
                    <div class="progress"></div>
                </div>
                <div class="range-input">
                    <input type="range" name="min_price" class="range-min" min="0" max="50000000" value="5000000" step="100">
                    <input type="range" name="max_price" class="range-max" min="0" max="50000000" value="30000000" step="100">
                </div>

                <div class="price-input">
                    <div class="field">
                        <span>از</span>
                        <input type="text" class="input-min" value="5,000,000" disabled="disabled">
                        <span>تومان</span>
                    </div>

                    <div class="field">
                        <span>تا</span>
                        <input type="text" class="input-max" value="30,000,000" disabled="disabled">
                        <span>تومان</span>
                    </div>
                </div>
        

            <span class="price-button">
                <button type="submit" class="trs-3" >
                    موبایلمو پیدا کن

                    <i class="fa fa-search"
                       style="color:#fff;font-size: 18px;margin-right: 40px;"></i>
                </button>
            </span> 
                </form>
            <div class="price-find-2">
                @foreach(var item in Model.OrderBy(c=>c.Sort)){
                    <a href="@item.Link" style="cursor:pointer;">@item.Title</a>
                    <span style="color: red;">|</span>
                }
                
             
            </div>
        </div>
    </div>
</div>
